"This code was executed in Google Colab."

Operating System: Linux 6.1.85+
Python Version: 3.10.12
Pandas Version: 2.1.4
NumPy Version: 1.26.4
Matplotlib Version: 3.7.1
Seaborn Version: 0.13.1
Scikit-Learn Version: 1.5.2
XGBoost Version: 2.1.1
xarray Version: 2024.9.0
scipy Version: 1.13.1
Cartopy Version: 0.23.0